body {
  background-color: #111;
}

h1 {
  text-align: center;
  font-family: "Monaco", monospace;
  color: #ffffff;
}

.profilePicture {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  padding: 1rem;
  overflow-y: auto;
  background: #111;
  color: #fff;
  border-right: 1px solid #444;
  text-align: center;
  font-size: 18px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
}

.sidebar a:hover {
  text-decoration: underline;
}

.paragraph {
  font-family: "Monaco", monospace;
  color: #ffffff;
  margin: 1rem auto;
  max-width: 1000px;
  padding: 0 1rem;
  font-size: 18px;
}

.page-content {
  margin-left: 220px;
  padding: 1rem;
}

.page-image {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
}